<div class="main-content">
    <div class="content-header">
        <h1>Расходы</h1>
    </div>
    <div class="modal fade" id="deleteExpense" tabindex="-1" role="dialog" aria-labelledby="deleteExpenseLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <h3 class="modal-title fs-5 text-center mb-3" id="deleteExpenseLabel">Вы действительно хотите удалить категорию?</h3>

                <div class="">
                    <button type="button" class="btn btn-success me-2" id="btn-delete-expense" data-bs-dismiss="modal">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="doNotDelete">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-xs-1 row-cols-lg-2 row-cols-xl-3 g-3 mt-3" id="expense-category">

    </div>
</div>
