.col-card {
    width: 352px;
}

.card {
    color: #290661;
}

/*.card-plus {*/
/*    width: 290px;*/
/*}*/

/*#income-category {*/
/*    max-width: 925px;*/
/*}*/

.plus {
    color: #CED4DA;
    font-size: 28px;
    font-weight: bolder;
    cursor: pointer;
}

.table>:not(caption)>*>* {
    color: #290661;
}