<div class="main-content main-content-tab">
    <div class="content-header">
        <h1>Доходы и расходы</h1>
    </div>
    <div class="modal fade" id="deleteIncomeExpense" role="dialog" tabindex="-1"
         aria-labelledby="deleteIncomeExpenseLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <h3 class="modal-title fs-5 text-center mb-3" id="deleteIncomeExpenseLabel">Вы действительно хотите
                    удалить
                    операцию?</h3>

                <div class="">
                    <button type="button" class="btn btn-success me-2" data-bs-dismiss="modal"
                            id="btn-delete-income-expense">Да, удалить
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="doNotDeleteIncomeExpense">
                        Не удалять
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a href="/income-expense/add-income" class="btn btn-success mt-4 me-2" style="font-size:14px;">Создать доход</a>
    <a href="/income-expense/add-expense" class="btn btn-danger mt-4" style="font-size:14px;">Создать расход</a>

    <div class="gap-3 main-content-buttons d-flex flex-wrap">
        <button class="btn btn-filter btn-outline-secondary shadow-none active" type="button" id="btn-today">Сегодня</button>
        <button class="btn btn-filter btn-outline-secondary shadow-none" type="button" id="btn-week">Неделя</button>
        <button class="btn btn-filter btn-outline-secondary shadow-none" type="button" id="btn-month">Месяц</button>
        <button class="btn btn-filter btn-outline-secondary shadow-none" type="button" id="btn-year">Год</button>
        <button class="btn btn-filter btn-outline-secondary shadow-none" type="button" id="btn-all">Все</button>
        <button class="btn btn-filter btn-outline-secondary shadow-none" type="button" id="btn-interval">Интервал
        </button>
        <div>
            <span class="black">с</span>
            <div class=" me-3 btn-group dropup">
                <button type="button" class="btn btn-link shadow-none grey dropdown-toggle cursor" id="btn-date-from"
                        data-bs-toggle="dropdown" aria-expanded="false">Дата
                </button>
                <input type="date" class="dropdown-menu ps-2 pe-2" data-widget="control-sidebar"
                       data-controlsidebar-slide="true" id="date-from">
            </div>

            <span class="black">по</span>
            <div class=" me-3 btn-group dropup">
                <button type="button" class="btn btn-link shadow-none grey dropdown-toggle cursor" id="btn-date-till"
                        data-bs-toggle="dropdown" aria-expanded="false">Дата
                </button>
                <input type="date" class="dropdown-menu ps-2 pe-2" data-widget="control-sidebar"
                       data-controlsidebar-slide="true" id="date-till">
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table border-top mt-5">
            <thead>
            <tr>
                <th scope="col" class="col-md-2">№ операции</th>
                <th scope="col">Тип</th>
                <th scope="col">Категория</th>
                <th scope="col">Сумма</th>
                <th scope="col">Дата</th>
                <th scope="col">Комментарий</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>
    </div>
</div>

