<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <h3 class="modal-title fs-5 text-center mb-3" id="exampleModalLabel">Вы действительно хотите удалить
                операцию?</h3>

            <div class="">
                <button type="button" class="btn btn-success me-2" data-bs-dismiss="modal">Да, удалить</button>
                <button type="button" class="btn btn-danger">Не удалять</button>
            </div>
        </div>
    </div>
</div>

