<div class="main-content">
    <div class="content-header">
        <h1>Редактирование категории доходов</h1>
    </div>
    <form class="mt-4">
        <input id="incomeToChange" type="text" class="form-control mb-4 pt-2 text-dark" placeholder="" value="Зарплата"
               aria-label="Name of income">
        <a href="/income/edit?id=" class="btn btn-success me-2" id="saveIncomeCategory">Сохранить</a>
        <a href="/income" class="btn btn-danger" id="cancelChangesIncome">Отмена</a>
    </form>
</div>

