<div class="main-content">
    <div class="content-header">
        <h1>Доходы</h1>
    </div>
    <div class="modal fade" id="deleteIncome" tabindex="-1" role="dialog" aria-labelledby="deleteIncomeLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <h3 class="modal-title fs-5 text-center mb-3" id="deleteIncomeLabel">Вы действительно хотите удалить
                    категорию?
                    Связанные доходы будут удалены навсегда</h3>

                <div class="">
                    <button type="button" class="btn btn-success me-2" id="btn-delete-income" data-bs-dismiss="modal">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="doNotDeleteIncome">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-xs-1 row-cols-lg-2 row-cols-xl-3 g-3 mt-3" id="income-category">

    </div>
</div>

